In [1]:
import pandas as pd

In [123]:
df=pd.read_csv("C:/Users/Harsh Jain/Desktop/en_tweets/2jun.csv")

In [124]:
df.shape

(109682, 36)

In [125]:
df = df[df['user_location'].notna()]
#df1 = df.dropna()

In [126]:
df['user_location'] = df['user_location'].astype('string')

In [127]:
df.shape

(81531, 36)

In [49]:
#ff = df[df.user_location.str.contains(r'^[a-zA-Z, ]-+$')] 
#ff['user_location'].head()
#ff.head()

# Start from here

In [128]:
#pip install geopy
from geopy.geocoders import Nominatim

In [129]:

def country_extract(location):
    #address we need to geocode
    loc = location

    #making an instance of Nominatim class
    geolocator = Nominatim(user_agent="my_request")

    #applying geocode method to get the location
    try:
        location = geolocator.geocode(loc)
    except:
        return None
    if(location == None):
        return None
        
    else:
       # Latitude & Longitude input
        Latitude = str(location.latitude)
        Longitude = str(location.longitude)
        
    #printing address and coordinates
    #print(location.address)
    #print((location.latitude, location.longitude))
    try:
        newloc = geolocator.reverse(Latitude+","+Longitude)
    except:
        return None
   
    #Display
    #print(newloc)
    if(newloc == None):
        return None
        
    else:
        address = newloc.raw['address']
        #print(address)
        country = address.get('country', '')
        return country

In [ ]:
list=[]

for i in df['user_location']:
    new = country_extract(i)
    #print(new)
    list.append(new)
    
#print(list)

In [110]:
df2=df
country=pd.DataFrame(list, columns =['country'])
#dfnew=pd.concat([df, df2], axis=1, ignore_index=False)
df2['country'] = country

In [111]:
df2.head()

,Unnamed: 0,coordinates,created_at,hashtags,media,urls,favorite_count,id,in_reply_to_screen_name,in_reply_to_status_id,...,user_friends_count,user_listed_count,user_location,user_name,user_screen_name,user_statuses_count,user_time_zone,user_urls,user_verified,country
0,0,NaN,Tue Jun 01 04:02:14 +0000 2021,NaN,NaN,https://omny.fm/shows/on-point-with-alex-piers...,0,1399577002412105731,NaN,NaN,...,214,3,Edmonton,chris thompson,Christhompson30,14,NaN,NaN,False,Canada
1,2,NaN,Tue Jun 01 04:02:15 +0000 2021,IndiaFightsCorona,NaN,NaN,0,1399577004521844737,NaN,NaN,...,29,0,"Shirdi, India",शिर्डी के वासी,Namo4Ramrajya,2830,NaN,NaN,False,India
3,5,NaN,Tue Jun 01 04:02:25 +0000 2021,COVID19 Coronavirus,https://twitter.com/IndiaToday/status/13995748...,https://bit.ly/34xjTpJ,0,1399577046444122113,NaN,NaN,...,2729,0,"Chamoli, India",Kuldeep kathait,Kuldeepkathai14,27308,NaN,NaN,False,India
4,6,NaN,Tue Jun 01 04:02:23 +0000 2021,coronavirus COVID19Pandemic,NaN,https://www.prokerala.com/news/articles/a11649...,0,1399577040026697731,NaN,NaN,...,18,4,"Kerala, IN",Prokerala,Prokerala,3320,NaN,https://www.prokerala.com,False,United Kingdom
5,11,NaN,Tue Jun 01 04:02:49 +0000 2021,NaN,NaN,https://on.ft.com/3c2J08f,0,1399577147606437892,NaN,NaN,...,9886,41,"London, England",FT for Schools,ft4s,51219,NaN,http://www.ft.com/schools,True,India

In [112]:
df2['country'].value_counts().head(30)

India                             3077
United States                     1173
United Kingdom                    1029
Australia                          501
Canada                             229
Malaysia                           183
South Africa                       173
پاکستان                            130
Philippines                        119
Nigeria                             94
Éire / Ireland                      88
Deutschland                         88
Kenya                               81
الإمارات العربية المتحدة            78
中国                                  77
ශ්‍රී ලංකාව இலங்கை                  76
日本                                  76
France                              72
ประเทศไทย                           72
Pilipinas / Philippines             72
Singapore                           67
Uganda                              65
België / Belgique / Belgien         54
New Zealand / Aotearoa              37
Nepal                               35
España                              35
Nederland                           34
Việt Nam                            33
Italia                              32
Schweiz/Suisse/Svizzera/Svizra      30
Name: country, dtype: int64

In [114]:
print(df.shape)
print(country.shape)
print(df2.shape)

(13413, 37)
(13413, 1)
(13413, 37)

In [115]:
#US, India, Brazil, France, Germany, UK
df2=df2.loc[df2['country'].isin(['United States','India','Brasil','France','Deutschland','United Kingdom'])]

In [116]:
df2.shape

(5457, 37)

In [117]:
df2['country'].value_counts()

India             3077
United States     1173
United Kingdom    1029
Deutschland         88
France              72
Brasil              18
Name: country, dtype: int64

In [120]:
df2['country']=df2['country'].replace(['Brasil','Deutschland'],['Brazil','Germany'])

C:\Users\Harsh Jain\AppData\Local\Temp/ipykernel_31016/4027476299.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['country']=df2['country'].replace(['Brasil','Deutschland'],['Brazil','Germany'])

In [121]:
df2['country'].value_counts()

India             3077
United States     1173
United Kingdom    1029
Germany             88
France              72
Brazil              18
Name: country, dtype: int64

In [122]:
df2.to_csv('C:/Users/Harsh Jain/Desktop/top_countries/2jun.csv')